<%- include('header.ejs')%>
<form method="GET" action="/quote">
    <input name="quote" type="number" placeholder="dollar quote"><br>
    <input name="amount" type="number" placeholder="dollar amount"><br>
    <button>Convert</button>
</form>
<%- include('footer.ejs')%>